<% if user_signed_in? %>
    <%= form_with model: [ @article, @article.comments.build ] do |form| %>
        <p>
            <%= form.text_field :commenter, value: current_user.email,type: :hidden  %>
        </p>
        <p>
            <%= form.label :body, "Comment" %> <br>
            <%= form.text_area :body, placeholder: "Type your comment..." %>
        </p>

        <p>
            <%= form.label :status %><br>
            <%= form.select :status, Article::VALID_STATUSES, selected: 'public', class: "bg-dark" %>
            
        </p>

        <p>
        <div>
            <%= form.submit class: "btn btn-dark"%>
        </div>
        </p>
    <% end %>
<% else %>
    <%= form_with model: [ @article, @article.comments.build ] do |form| %>
        <p>
            <%= form.text_field :commenter, value: "xyz",type: :hidden  %>
        </p>
        <p>
            <%= form.label :body, "Comment" %> <br>
            <%= form.text_area :body, placeholder: "Type your comment..." %>
        </p>

        <p>
            <%= form.label :status %><br>
            <%= form.select :status, Article::VALID_STATUSES, selected: 'public' %>
        </p>

        <p>
            <%= form.submit class: "btn btn-dark" %>
        </p>
    <% end %>

<% end %>