<% provide(:title, @article.title) %>
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>


<h2>Comments</h2>
<%= render @article.comments%>


<h2>Add a comment: </h2>
<%= render 'comments/form' %>

<% if current_user.id == @article.user_id %>
	<%= button_to "Edit this Article", edit_article_path(@article), method: :get %>
	<%= button_to "Delete this Article", article_path(@article), method: :delete, data: {confirm: "Are you sure you want to reset the indexes?" } %>
<% end %>