<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Blog App', home_index_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "New Article", new_article_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About me", home_about_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign in", home_about_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", home_about_path, class:"nav-link" %>
      </li>
    </ul>

  </div>
</nav>